@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Semibold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "AvertaStd";
  src: url("/fonts/AvertaStd-Regular.ttf");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
